
body, html {
    height: 100%;
}

#appContainer {
    height: 100%;
}

#leftPanel {
    min-width: 300px;
    display: none;
    background-color: #eee;
}

@media screen and (min-width: 650px) {

    #leftPanel {
        display: inline;
    }

    #toolbarLeft {
        display: none;
    }

    #toolbarRight {
        display: none;
    }
}
