
body, html {
  height: 100%;
}

#app-container {
  height: 100%;
  display: flex;
}

#left-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index:99;
  display: flex;
  flex-direction: column;
}

#main-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#map-container {
  height: 100%;
}

.list-container {
  overflow-y: auto;
  height: 100%;
}

@media screen and (min-width: 650px) {
  #left-panel {
    position: relative;
    min-width: 300px;
    max-width: 300px;
  }
}

.hide {
  display: none !important;
}
