
body, html {
    height: 100%;
}

#appContainer {
    height: 100%;
    display: flex;
}

#leftPanel {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #eee;
}

.hide {
    display: none;
}

@media screen and (min-width: 650px) {

    #leftPanel {
        min-width: 300px;
        position: relative;
        display: inline;
    }

    #toolbarLeft {
        display: none;
    }

    #toolbarRight {
        display: none;
    }
}
